{ "openapi": "3.0.0", "servers": [{ "url": "http://nrbnrx0020.nrb.be:3000", "description": "", "variables": {} }, { "url": "http://nrbnrx0020.nrb.be:3000", "description": "", "variables": {} }], "info": { "version": "b5157e9c-be35-4738-9015-4770eeed945f", "title": "nrbnrx0020.nrb.be", "description": "", "termsOfService": "", "contact": {}, "license": { "name": "" } }, "paths": { "/api/hardwares/": { "post": { "summary": "hardwares/getAll", "operationId": "hardwares/getAll", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "platform": "Z", "type": "pserver", "subtype": "Mainframe IBM", "columns": ["id", "name", "type", "subtype", "classService", "environnement", "nrb_managed_by", "status", "description", "serial_no", "platform"] } }, "example": " {\r\n     \"platform\" : \"Z\",\r\n     \"type\": \"pserver\",\r\n     \"subtype\":\"Mainframe IBM\" ,\r\n     \"columns\":[\"id\",\"name\",\"type\",\"subtype\",\"classService\",\"environnement\",\"nrb_managed_by\",\"status\",\"description\",\"serial_no\",\"platform\"]\r\n}" } } }, "tags": ["hardwares"] } }, "/api/hardwares/details/366": { "get": { "summary": "hardwares/getById", "operationId": "hardwares/getById", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["hardwares"] } }, "/api/hardwares/366": { "put": { "summary": "hardwares/id update", "operationId": "hardwares/idupdate", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "serial_no": "test", "id": 386, "name": "test  ", "environnement": "Production", "status": "Operational", "description": "lou loyu", "classService": "PAAS", "last_update": "2021-04-16 11:11:26" } }, "example": "{\r\n\"serial_no\": \"test\",\r\n\"id\": 386,\r\n\"name\": \"test  \",\r\n\"environnement\": \"Production\",\r\n\"status\": \"Operational\",\r\n\"description\": \"lou loyu\",\r\n\"classService\": \"PAAS\",\r\n        \"last_update\": \"2021-04-16 11:11:26\"\r\n\r\n}" } } }, "tags": ["hardwares"] } }, "/api/hardwares/366/partition": { "put": { "summary": "hardwares/partition/id add", "operationId": "hardwares/partition/idadd", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "id": 1, "last_update": "2021-04-19 13:49:18" } }, "example": "{\r\n    \"id\" : 1,\r\n            \"last_update\": \"2021-04-19 13:49:18\"\r\n\r\n\r\n}" } } }, "tags": ["hardwares"] }, "delete": { "summary": "hardwares/partition/id add delete", "operationId": "hardwares/partition/idadddelete", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["hardwares"] } }, "/api/hardwares/366/client": { "put": { "summary": "hardwares/client/id add", "operationId": "hardwares/client/idadd", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "id": 1, "last_update": "2021-04-19 13:49:18" } }, "example": "{\r\n    \"id\" : 1,\r\n            \"last_update\": \"2021-04-19 13:49:18\"\r\n\r\n\r\n}" } } }, "tags": ["hardwares"] }, "delete": { "summary": "hardwares/client/id delete", "operationId": "hardwares/client/iddelete", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["hardwares"] } }, "/api/hardwares/366/relation": { "put": { "summary": "hardwares/relation/id add", "operationId": "hardwares/relation/idadd", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "id": 376, "last_update": "2021-04-16 11:16:16" } }, "example": "{\r\n    \"id\" : 376,\r\n    \"last_update\": \"2021-04-16 11:16:16\"\r\n\r\n}" } } }, "tags": ["hardwares"] }, "delete": { "summary": "hardwares/relation/id delete", "operationId": "hardwares/relation/iddelete", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["hardwares"] } }, "/api/partitions": { "post": { "summary": "partitions/getAll", "operationId": "partitions/getAll", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "platform": "Z", "type": "lserver", "subtype": "Mainframe LPAR", "columns": ["id", "name", "type", "subtype", "classService", "environnement", "nrb_managed_by", "status", "description", "platform", "host_type", "hardware"] } }, "example": " {\r\n     \"platform\" : \"Z\",\r\n     \"type\": \"lserver\",\r\n     \"subtype\": \"Mainframe LPAR\",\r\n     \"columns\":[\"id\",\"name\",\"type\",\"subtype\",\"classService\",\"environnement\",\"nrb_managed_by\",\"status\",\"description\",\"platform\",\"host_type\",\"hardware\"]\r\n}" } } }, "tags": ["partition"] } }, "/api/partitions/details/425": { "get": { "summary": "partitions/id", "operationId": "partitions/id", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["partition"] } }, "/api/partitions/425": { "put": { "summary": "partitions/id update", "operationId": "partitions/idupdate", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "id": 386, "name": "dds", "environnement": "4.Production", "status": "Operational", "logical_name": "jjji", "description": "lou loyu", "classService": "PAAS", "last_update": "2021-04-20 11:40:00" } }, "example": "{\r\n\r\n\"id\": 386,\r\n\"name\": \"dds\",\r\n\"environnement\": \"4.Production\",\r\n\"status\": \"Operational\",\r\n\"logical_name\" : \"jjji\",\r\n\"description\": \"lou loyu\",\r\n\"classService\": \"PAAS\",\r\n        \"last_update\": \"2021-04-20 11:40:00\"\r\n\r\n}" } } }, "tags": ["partition"] } }, "/api/partitions/425/system": { "put": { "summary": "partitions/system/id add", "operationId": "partitions/system/idadd", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "id": 418, "last_update": "2021-04-19 13:49:18" } }, "example": "{\r\n    \"id\" : 418,\r\n            \"last_update\": \"2021-04-19 13:49:18\"\r\n\r\n\r\n}" } } }, "tags": ["partition"] }, "delete": { "summary": "partitions/system/id add", "operationId": "partitions/system/idadd4", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["partition"] } }, "/api/partitions/425/hardware": { "delete": { "summary": "partitions/id/hardware delete", "operationId": "partitions/id/hardwaredelete", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["partition"] } }, "/api/systems": { "post": { "summary": "systems/getAll", "operationId": "systems/getAll", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "platform": "B", "columns": ["id", "name", "type", "subtype", "classService", "environnement", "nrb_managed_by", "status", "description", "platform", "LPAR Host ci", "LPAR Our Name"] } }, "example": "{\r\n \"platform\": \"B\",\r\n \"columns\":[\"id\",\"name\",\"type\",\"subtype\",\"classService\",\"environnement\",\"nrb_managed_by\",\"status\",\"description\",\"platform\",\"LPAR Host ci\",\"LPAR Our Name\"]\r\n\r\n}" } } }, "tags": ["systems"] } }, "/api/systems/details/622": { "get": { "summary": "systems/id", "operationId": "systems/id", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["systems"] } }, "/api/systems/622": { "put": { "summary": "systems/id update", "operationId": "systems/idupdate", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "name": "FMSBACC", "environnement": "4.Production", "status": "Operational", "logical_name": "FMSBACC", "description": "lou loyu", "classService": "PAAS", "last_update": "2021-04-20 11:16:07" } }, "example": "{\r\n\r\n \"name\": \"FMSBACC\",\r\n \"environnement\": \"4.Production\",\r\n\"status\": \"Operational\",\r\n\"logical_name\" : \"FMSBACC\",\r\n\"description\": \"lou loyu\",\r\n\"classService\": \"PAAS\",\r\n        \"last_update\": \"2021-04-20 11:16:07\"\r\n\r\n}" } } }, "tags": ["systems"] } }, "/api/systems/622/partition": { "put": { "summary": "systems/partition/id add", "operationId": "systems/partition/idadd", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "id": 496, "last_update": "2021-04-29 08:48:51" } }, "example": "{\r\n    \"id\" : 496,\r\n        \"last_update\": \"2021-04-29 08:48:51\"\r\n\r\n\r\n}" } } }, "tags": ["systems"] }, "delete": { "summary": "systems/partition/id delete", "operationId": "systems/partition/iddelete", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["systems"] } }, "/api/systems/622/client": { "put": { "summary": "systems/client/id add", "operationId": "systems/client/idadd", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "id": 1, "last_update": "2021-04-19 13:49:18" } }, "example": "{\r\n    \"id\" : 1,\r\n     \"last_update\": \"2021-04-19 13:49:18\"\r\n\r\n\r\n}" } } }, "tags": ["systems"] }, "delete": { "summary": "systems/client/id add delete", "operationId": "systems/client/idadddelete", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["systems"] } }, "/api/systems/622/linux": { "put": { "summary": "systems/linux/id add", "operationId": "systems/linux/idadd", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "id": 672, "last_update": "2021-04-29 08:48:51" } }, "example": "{\r\n    \"id\" : 672,\r\n        \"last_update\": \"2021-04-29 08:48:51\"\r\n\r\n\r\n}" } } }, "tags": ["systems"] }, "delete": { "summary": "systems/linux/id delete", "operationId": "systems/linux/iddelete", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["systems"] } }, "/api/zlinuxs": { "post": { "summary": "zlinux/getAll", "operationId": "zlinux/getAll", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "columns": ["id", "name", "type", "subtype", "classService", "environnement", "nrb_managed_by", "status", "description", "platform"] } }, "example": "{\r\n      \"columns\":[\"id\",\"name\",\"type\",\"subtype\",\"classService\",\"environnement\",\"nrb_managed_by\",\"status\",\"description\",\"platform\"]\r\n\r\n}" } } }, "tags": ["linux"] } }, "/api/zlinuxs/details/672": { "get": { "summary": "zlinux/id", "operationId": "zlinux/id", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["linux"] } }, "/api/zlinuxs/672": { "put": { "summary": "zlinux/id update", "operationId": "zlinux/idupdate", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "name": "LINUX26", "environnement": "4.Production", "status": "Operational", "description": "MSU Production Ethias", "classService": "PAAS", "domaine": "ethias.be", "os_version": "NOVELL SLES 12.3", "cpu_type": "vCPU(IBM/S390)", "cpu_number": "vCPU(IBM/S390)", "physical_mem_total": "1", "last_update": "2021-04-26 15:43:57" } }, "example": "{\r\n\"name\": \"LINUX26\",\r\n\"environnement\": \"4.Production\",\r\n\"status\": \"Operational\",\r\n\"description\": \"MSU Production Ethias\",\r\n\"classService\": \"PAAS\",\r\n\"domaine\": \"ethias.be\",\r\n\"os_version\": \"NOVELL SLES 12.3\",\r\n\"cpu_type\": \"vCPU(IBM/S390)\",\r\n\"cpu_number\": \"vCPU(IBM/S390)\",\r\n\"physical_mem_total\": \"1\",\r\n\r\n\"last_update\": \"2021-04-26 15:43:57\"\r\n\r\n}" } } }, "tags": ["linux"] } }, "/api/zlinuxs/672/client": { "put": { "summary": "zlinux/id/client add", "operationId": "zlinux/id/clientadd", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "id": 5, "last_update": "2021-04-26 12:26:35" } }, "example": "{\r\n    \"id\" : 5,\r\n        \"last_update\": \"2021-04-26 12:26:35\"\r\n}" } } }, "tags": ["linux"] }, "delete": { "summary": "zlinux/id/client delete", "operationId": "zlinux/id/clientdelete", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["linux"] } }, "/api/zlinuxs/672/system": { "put": { "summary": "zlinux/id/system update", "operationId": "zlinux/id/systemupdate", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "id": 666, "last_update": "2021-04-26 09:06:02" } }, "example": "{\r\n\"id\": 666,\r\n        \"last_update\": \"2021-04-26 09:06:02\"\r\n\r\n\r\n}" } } }, "tags": ["linux"] }, "delete": { "summary": "zlinux/id/system delete", "operationId": "zlinux/id/systemdelete", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["linux"] } }, "/api/instances": { "post": { "summary": "instances/getAll", "operationId": "instances/getAll", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "platform": "B", "columns": ["id", "name", "type", "subtype", "classService", "environnement", "nrb_managed_by", "status", "description", "platform"] } }, "example": "{\r\n     \"platform\": \"B\",\r\n      \"columns\":[\"id\",\"name\",\"type\",\"subtype\",\"classService\",\"environnement\",\"nrb_managed_by\",\"status\",\"description\",\"platform\"]\r\n\r\n}" } } }, "tags": ["instances"] } }, "/api/instances/details/989": { "get": { "summary": "instances/id", "operationId": "instances/id", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["instances"] } }, "/api/occurences/details/2860": { "get": { "summary": "occurences/id", "operationId": "occurences/id", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["occurence"] } }, "/api/occurences": { "post": { "summary": "occurences/getAll", "operationId": "occurences/getAll", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "platform": "B", "columns": ["id", "name", "type", "subtype", "classService", "environnement", "nrb_managed_by", "status", "description", "platform"] } }, "example": "{\r\n     \"platform\": \"B\",\r\n      \"columns\":[\"id\",\"name\",\"type\",\"subtype\",\"classService\",\"environnement\",\"nrb_managed_by\",\"status\",\"description\",\"platform\"]\r\n\r\n}" } } }, "tags": ["occurence"] } }, "/api/apps": { "post": { "summary": "apps/getAll", "operationId": "apps/getAll", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "platform": "B", "is_valid": 0, "columns": ["id", "name", "type", "subtype", "classService", "environnement", "nrb_managed_by", "status", "description", "platform", "product_code", "version", "end_of_support_date", "end_extended_support"] } }, "example": "{\r\n     \"platform\": \"B\",\r\n     \"is_valid\": 0,\r\n      \"columns\":[\"id\",\"name\",\"type\",\"subtype\",\"classService\",\"environnement\",\"nrb_managed_by\",\"status\",\"description\",\"platform\",\"product_code\",\"version\",\"end_of_support_date\",\"end_extended_support\"]\r\n\r\n}" } } }, "tags": ["apps"] } }, "/api/apps/details/1": { "get": { "summary": "apps/id", "operationId": "apps/id", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["apps"] } }, "/api/apps/1": { "put": { "summary": "apps/id update", "operationId": "apps/idupdate", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "name": "test", "status": "Available", "description": "Transactionnel TP8", "itservice": "ITS - Mainframe TP8", "product_code": "TP8", "version": "4.3", "end_of_support_date": "30/06/2022", "end_extended_support": null, "is_valid": 1, "isoccurenciable": 1, "last_update": "2021-04-29 11:45:27" } }, "example": " { \r\n     \"name\" : \"test\",\r\n    \"status\": \"Available\",\r\n    \"description\": \"Transactionnel TP8\",\r\n    \"itservice\": \"ITS - Mainframe TP8\",\r\n    \"product_code\": \"TP8\",\r\n    \"version\": \"4.3\",\r\n    \"end_of_support_date\": \"30/06/2022\",\r\n    \"end_extended_support\": null,\r\n    \"is_valid\": 1,\r\n    \"isoccurenciable\": 1,\r\n        \"last_update\": \"2021-04-29 11:45:27\"\r\n\r\n }" } } }, "tags": ["apps"] } }, "/api/apps/1/provider": { "put": { "summary": "apps/provider/id add", "operationId": "apps/provider/idadd", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "id": 2, "last_update": "2021-04-29 12:11:17" } }, "example": "{\r\n    \"id\" : 2,\r\n        \"last_update\": \"2021-04-29 12:11:17\"\r\n\r\n}" } } }, "tags": ["apps"] } }, "/api/info/status": { "get": { "summary": "info/status", "operationId": "info/status", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["info"] } }, "/api/info/platforms": { "get": { "summary": "info/platforms", "operationId": "info/platforms", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["info"] } }, "/api/info/classeServices": { "get": { "summary": "info/classeServices", "operationId": "info/classeServices", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["info"] } }, "/api/info/environments": { "get": { "summary": "info/environments", "operationId": "info/environments", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["info"] } }, "/api/info/messageErrors": { "get": { "summary": "info/messageErrors", "operationId": "info/messageErrors", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["info"] } }, "/api/users/signin": { "post": { "summary": "users/signin ok", "operationId": "users/signinok", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "username": "p60001", "password": "123456" } }, "example": "{\r\n    \"username\" : \"p60001\",\r\n    \"password\" : \"123456\"\r\n\r\n}" } } }, "tags": ["users"] } }, "/api/cis": { "post": { "summary": "cis/search", "operationId": "cis/search", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "name": "CEC0" } }, "example": "{\r\n  \"name\" : \"CEC0\"\r\n}" } } }, "tags": ["cis"] } }, "/api/clients": { "post": { "summary": "clients/getAll", "operationId": "clients/getAll", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "platform": "I", "columns": ["id", "vendor_code", "name", "address", "vendor"] } }, "example": "{\r\n    \"platform\": \"I\",\r\n    \"columns\":[\"id\",\"vendor_code\",\"name\",\"address\",\"vendor\"]\r\n}" } } }, "tags": ["clients"] } }, "/api/clients/details/1": { "get": { "summary": "clients/table/id", "operationId": "clients/table/id", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["clients"] } }, "/api/table": { "get": { "summary": "table/getAllClients", "operationId": "table/getAllClients", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["table"] } }, "/api/table/details/10": { "get": { "summary": "table/id", "operationId": "table/id", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["table"] } }, "/api/providers": { "post": { "summary": "providers/getAll", "operationId": "providers/getAll", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "json", "example": { "platform": "Z", "columns": ["id", "vendor_code", "name", "address", "vendor"] } }, "example": "{\r\n    \"platform\": \"Z\",\r\n    \"columns\":[\"id\",\"vendor_code\",\"name\",\"address\",\"vendor\"]\r\n}" } } }, "tags": ["providers"] } }, "/api/providers/apps": { "get": { "summary": "provider/apps", "operationId": "provider/apps", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["providers"] } }, "/api/providers/details/1": { "get": { "summary": "providers/id", "operationId": "providers/id", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["providers"] } }, "/api/provider/apps": { "get": { "summary": "provider/apps Copy", "operationId": "provider/appsCopy", "parameters": [], "responses": { "200": { "description": "", "headers": {} } }, "tags": ["providers"] } } }, "components": { "securitySchemes": { "bearer": { "type": "http", "scheme": "bearer" } } }, "security": [{ "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }, { "bearer": [] }], "tags": [], "externalDocs": { "url": "", "description": "" }, "warnings": ["Two GET or two POST methods for the same path are not allowed in OpenAPI specification : puthttp://nrbnrx0020.nrb.be:3000/api/partitions/425/system", "Two GET or two POST methods for the same path are not allowed in OpenAPI specification : posthttp://nrbnrx0020.nrb.be:3000/api/users/signin"] }